.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  // margin-bottom: 20px;

  .logo-container {
    // height: 100%;
    // width: 70px;
    // padding: 25px;
  }

  .nav-links-container {
    display: flex;
    gap: 20px;

    .nav-link {
      // padding: 10px 15px;
      cursor: pointer;
    }
  }
}
